body {
  margin:0px;
  background-color:rgba(215, 215, 215, 0.552941176470588);
  background-image:none;
  position:relative;
  left:0px;
  width:340px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:741px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:741px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:425px;
  width:51px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:423px;
  width:51px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:562px;
  width:51px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:565px;
  width:51px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:642px;
  width:55px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:420px;
  width:30px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:419px;
  width:30px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:561px;
  width:30px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:558px;
  width:30px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:644px;
  width:30px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
