body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1281px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:721px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:721px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:460px;
  width:51px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:460px;
  width:51px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u54 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:455px;
  width:51px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:658px;
  width:51px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:650px;
  width:51px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:630px;
  width:51px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:630px;
  width:51px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:440px;
  width:51px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:430px;
  width:51px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u61 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:440px;
  width:51px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
